---
layout: base.njk
title: Historical Timeline
---

<h1>Historical Timeline</h1>
<script data-goatcounter="https://obourema.goatcounter.com/count"
        async src="//gc.zgo.at/count.js"></script>
<div
    class="elfsight-app-b6ea32b3-5318-4abe-8bdd-916a575e309c"
    data-elfsight-app-lazy>
</div>

