---
layout: base.njk
title: Histoire d'Alger
---

<article>
    <header style="margin-bottom: 40px;">
        <h1>Histoire de la Casbah</h1>
        <p>Découvrez les étapes marquantes de l'histoire de la Casbah d'Alger à travers cette chronologie.</p>
    </header>

    <!-- Common Ninja Timeline Widget -->
    <div class="commonninja_component pid-00a9661a-21fe-4b0a-9864-2f07e9858351"></div>
    <script src="https://cdn.commoninja.com/sdk/latest/commonninja.js" defer></script>
</article>
